<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" version="97.0.4692.71"/>
	<package id="firefox" version="95.0.2"/>
	<package id="brave" version="1.34.80"/>
	<package id="gimp" version="2.10.30"/>
	<package id="openjdk11" version="11.0.13.8"/>
	<package id="notion" version="2.0.18"/>
	<package id="obs-studio" version="27.1.3"/>
	<package id="zoom" version="5.9.1.2581"/>
	<package id="discord" version="1.0.9003"/>
	<package id="signal" version="5.27.1"/>
	<package id="hexchat" version="2.14.3"/>
	<package id="k-litecodecpackfull" version="16.7.0"/>
	<package id="foobar2000" version="1.6.9"/>
	<package id="audacity" version="3.1.3"/>
	<package id="vscode" version="1.63.2"/>
	<package id="python" version="3.10.1"/>
	<package id="notepadplusplus" version="8.2"/>
	<package id="putty" version="0.76"/>
	<package id="winscp" version="5.19.5"/>
	<package id="virtualbox" version="6.1.30"/>
	<package id="git" version="2.34.1"/>
	<package id="7zip" version="21.7"/>
	<package id="qbittorrent" version="4.4.0"/>
	<package id="wiztree" version="4.07"/>
	<package id="rufus" version="3.17"/>
	<package id="everything" version="1.4.11015"/>
	<package id="hwinfo" version="7.16"/>
	<package id="mremoteng" version="1.76.20.24615"/>
	<package id="autohotkey" version="1.1.33.10"/>
	<package id="h2testw" version="1.4.20180717"/>
	<package id="streamlink" version="2.3.0"/>
	<package id="eartrumpet" version="2.1.9.0"/>
	<package id="sysinternals" version="2021.12.16"/>
	<package id="curl" version="7.81.0"/>
	<package id="vim" version="8.2.4046"/>
	<package id="golang" version="1.17.6"/>
	<package id="powertoys" version="0.53.1"/>
	<package id="crystaldiskinfo" version="8.13.3"/>
	<package id="dolphin" version="5.0.0.20201120"/>
	<package id="github-desktop" version="2.9.6"/>
	<package id="telegram" version="3.4.3"/>
</packages>